[submodule "Arduino/libraries/PS2controller"]
	path = Arduino/libraries/PS2controller
	url = https://github.com/madsci1016/Arduino-PS2X.git
[submodule "Projects/ThunderGumbo"]
	path = Projects/ThunderGumbo
	url = git@github.com:cachinchilla3000/ThunderGumbo.git
[submodule "Arduino/libraries/FastLED"]
	path = Arduino/libraries/FastLED
	url = https://github.com/FastLED/FastLED.git
[submodule "Arduino/libraries/.STDCPP"]
	path = Arduino/libraries/StandardCplusplus
	url = https://github.com/maniacbug/StandardCplusplus.git
